:root{
    box-sizing: border-box;
}

body {
    background-image: url("imgs/ImpactTheWorldLogo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: black;
    font-size: 20px;
}

main{
   margin: 0 auto;
   width: 1200px;
}

nav {
    background-image: url("imgs/HardwoodFLoor.jpg");
    width: cover;
    align-content: center;
    text-align: center;
    font-size: 80px;
}

nav>a {
    font-size: 20px;
    color: black;
}


main {
    box-sizing: border-box;
    z-index: -1;
}

#logo {
    margin-top: 50px;
    margin-left: -30px;
    width: 300px;
}
path {
    fill: transparent;
}

text {
    fill: #FF9800;
    font-size: 45px;
}

#home {
    background-color: black;
    opacity: 0.75;
    margin: 0 auto;
    font-size: larger;
    color: white;
    text-align: center;
}

#home>p {
    text-align: left;
}

#home>p>strong {
    color: #f88c35;
}

#home>ul {
    color: white;
    text-align: center;
    list-style-type: none;
}

#home>ul>li>strong {
    color: #f88c35;
}

#recruit {
    background-color: white;
    align-content: center;
    opacity: 0.75;
    color: #f88c35;
    text-align: center;
    font-size: larger;
}

#recruit>video {
    width: 1150px;
    height: 700px;
    margin-top: -10px;
    margin-bottom: 15px;
}

#about {
    background-color: black;
    opacity: 0.75;
    text-align: center;
    font-size: larger;
}

#about>h1 {
    color: #f88c35;
    font-weight: bold;
    font-variant: small-caps;
}

#about>p {
    color: white;
}

#about>p>em {
    color: #f88c35;
}

#annualCamp {
    background-color: white;
    align-content: center;
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0.75;
    font-size: larger;
}

#annualCamp>h1 {
    color: #f88c35;
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
}

#annualCamp>h2 {
    color: black;
    font-weight: bold;
    text-align: center;
    font-variant: small-caps;
}

#annualCamp>h4 {
    color: black;
    text-align: center;
}

#annualCamp>h4>strong {
    color: #f88c35;
}

#annualCamp>p>a {
    color: #f88c35;
}

#annualCamp>p {
    color: black;
    text-align: center;
}

#annualCamp>p>em {
    color: #f88c35;
}

#camp{
    width: 500px;
    height: 500px;
    margin-left: 350px;
}

#signUp {
    background-color: black;
    opacity: 0.75;
    text-align: center;
    font-size: larger;
}

#signUp>h1 {
    color: #f88c35;
    font-weight: bold;
    font-variant: small-caps;
}

#signUp>h2 {
    color: white;
    font-weight: bold;
    font-variant: small-caps;
}

#signUp>p {
    color: #f88c35;
}

#signUp>a {
    color: #f88c35;
}

#payPalForm{
    background-image: url("imgs/HardwoodFLoor.jpg");
    width: cover;
    align-content: center;
    text-align: center;
    font-size: 40px;
}
#payPalForm>form {
    margin-left: 450px;
}

#payPalForm>form>table>td {
    align-items: center;
}

#payPalForm>p>em>strong {
    color: #f88c35;
}

#playerSignUp{
    margin-left: 20px;
    width: 450px;
    height: 25px;
}

#addCart{
    margin-right: 400px;
    margin-bottom: 50px;
    width: 250px;
}